ul {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: space-between;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.indicator {
    width: 2rem;
    height: 2px;
    margin-top: 2px;
}