:host {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
}

.container {
  background: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 5px 0px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  display: grid;
  place-content: stretch;
  place-items: center;
  grid-gap: 0.4rem;
  grid-auto-flow: row;
}

.container::-webkit-scrollbar {
    display: none !important;
}

.underline {
    width: 20%;
    height: 2px;
    background-color: #f5f5f5;
    margin: 0 auto;
}

.underline > .highlight {
   background-color: #e02f29;
   width: 50%;
   height: 2px;
   padding: 0;
}