:host {
    padding: 0 0.5rem;
    background-color: #fff;
  }
  
  .container {
    display: grid;
    grid-auto-rows: row;
    grid-template-rows: "4rem";
    grid-gap: 5px;
    place-content: stretch;
    place-items: stretch;
  }
  
  .product-image {
    object-fit: contain;
    width: 4rem;
    height: 4rem;
  }
  .product-title {
    width: 100%;
  }
  
  .price-section {
    grid-area: price-section;
    color: #d24749;
    margin: 0 1rem;
    font-size: 0.6rem;
    padding: 0;
  }
  
  .price-des {
    grid-area: price-des;
    color: #3f3f3f;
    font-size: 0.5rem;
  }


  