:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}

app-back-button {
    position: fixed;
    left: 1rem;
    top: 1.6rem;
    z-index: 2000;
}

.price-section {
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    place-content: start;
    place-items: baseline;
}

.title, .coupon, .guarantee {
    grid-column: 1/4;
}

.price-section .now-price {
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}

.price-section .price-list {
    color: #3f3f3f;
    text-decoration: line-through;
}

.price-section .price-count {
    justify-self: end;
}

.price-section .title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 3px 0;
}

.price-section .guarantee {
    font-weight: 1.1rem;
    color: darkgray;
    margin: 3px 0;
}

.short-list {
    width: 100%;
    padding: 0.4rem 0;
    background-color: #f5f5f5;
}